<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<mat-card *ngFor="let post of posts" style="margin-top: 5%; padding-bottom: 1.6%; background-image: url('https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse2.mm.bing.net%2Fth%3Fid%3DOIP.SPZmY-NIr9Nrh77UzRUtoQHaEK%26pid%3DApi&f=1'); background-repeat: no-repeat; background-size: cover;">
    <div style="width: 100%; color: white; border-radius: 5px; padding: 20px;margin-top: 20px;">
      <h2 [routerLink]="['/blog', post._id]">{{post.title}}</h2>
        <h5 [routerLink]="['/blog', post._id]">-{{post.author}}</h5>
        <h5 [routerLink]="['/blog', post._id]">{{post.date_created}}</h5>
        <div style="align-self: flex-end;">
        <h1 *ngIf="username==post.author" style="margin: 20px; font-size: larger;" class=" 	glyphicon glyphicon-edit" (click)="editPost(post)" onclick="document.getElementById('modal').style.display='block'"></h1>
        <h1 *ngIf="username==post.author" style="font-size: larger;" (click)="setDelete(post)" class="glyphicon glyphicon-trash" onclick="document.getElementById('deleteModal').style.display='block'"></h1>
      </div>
        <div [routerLink]="['/blog', post._id]" style="height:200px; padding: 20px; ">{{post.description.split(' ').slice(0, 100).join(' ')}}...</div>
      </div>
</mat-card>
<div  id="deleteModal" class="modal">
  <div style="position: relative; top: auto; left:30%; width:60% ;background-color: #f1f1f1; padding: 10px; border-radius: 10px;">
  <h1 style="color: grey;">Delete Post</h1>
  <h3>are you sure you want to delete?</h3>
  <button style="margin: 10px;" class="btn btn-primary btn-lgn" (click)="deletePost()" onclick="document.getElementById('deleteModal').style.display='none'">Delete</button>
  <button style="margin: 10px;" (click)="cancel()"   class="btn btn-primary btn-lgn" onclick="document.getElementById('deleteModal').style.display='None'">cancel</button>
  </div> 
</div>


